:root{
    --main-dark-green: rgb(6, 85, 97);
    --second-dark-green: rgb(4, 50, 56);
    --main-white: #ffffff;
    --main-teal: #32efef;
    --main-list-style: none;
}
.aboutWrapper{
    margin-top: 0;
    background-color: var(--second-dark-green);
    color: var(--main-white);
    padding: 25px 0;

}
.aboutContainer{
    margin:.7em 0 1em;
}
.h1About{
    margin-top: 0;
    padding-bottom: 20px;
}
.links{
    color: rgb(184, 251, 251);
}
.links:visited{
    color: rgb(180, 252, 252);
}
.p_about{
    text-indent: 1.5em;
}

